# Mail
MAIL_USERNAME=
MAIL_PASSWORD=

# Database
DB_USERNAME=
DB_PASSWORD=

# JWT
JWT_SECRET=

# Redis
REDIS_USERNAME=
REDIS_PORT=

# Admin
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_LASTNAME=
ADMIN_FIRSTNAME=

# Radar
RADAR_DEFAULT_RADIUS_KM=
RADAR_MAX_RADIUS_KM=
RADAR_TTL_MINUTES=
