#Info Admin
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_LASTNAME=
ADMIN_FIRSTNAME=

# MAIL
BREVO_NAME=
BREVO_SENDER_EMAIL=
BREVO_API_KEY=

# Database
DB_USERNAME=
DB_PASSWORD=

# JWT
JWT_SECRET=

#Redis
REDIS_USERNAME=
REDIS_PORT=

#Radar
DEAFULT_RADIUS_KM=
MAX_RADIUS_KM=
TTL_MINUTES=

#Cloudinary
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

#Firebase
FIREBASE_CONFIG_PATH: